<wrapper class="container">

<div class="container">
<img id="user_img" src="http://i.imgur.com/QgMNCT9.jpg?1"/><br>
<%= @user.name() %>
<hr>
</div>
<br>
<br>
<form action="/user">
<div class="form-group">
  <label for="cuisine">Cuisine</label>
  <select name="cuisine" id="cuisine">
    <% @cuisines.each() do |cuisine| %>
    <option value="<%= cuisine.name() %>"><%= cuisine.name() %></option>
    <% end %>
  </select>
</div>
<div class="form-group">
  <label for="district">District</label>
  <select name="district" id="district">
    <% @districts.each() do |district| %>
    <option value="<%= district.name() %>"><%= district.name() %></option>
    <% end %>
  </select>
</div>
<div class="form-group">
  <label for="budget">Budget</label>
  <select name="budget" id="budget">
    <% @budgets.each() do |budget| %>
    <option value="<%= budget.scale() %>"><%= budget.scale() %></option>
    <% end %>
  </select>
</div>
<button type="submit" class="btn">Find Match!</button>
</form>
<div id="tinderslide">
    <ul>
        <li class="pane1"><div class="img"></div><div>Miami Beach</div><div class="like"></div><div class="dislike"></div></li>
        <li class="pane2"><div class="img"></div><div>San Francisco</div><div class="like"></div><div class="dislike"></div></li>
        <li class="pane3"><div class="img"></div><div>Chicago</div><div class="like"></div><div class="dislike"></div></li>
        <li class="pane4"><div class="img"></div><div>New York</div><div class="like"></div><div class="dislike"></div></li>
        <li class="pane5"><div class="img"></div><div>Beach</div><div class="like"></div><div class="dislike"></div></li>
    </ul>
</div>

</wrapper>
